.goals .card .card-header {
  background-color: rgba(29, 161, 242, 0.25); }

.goals .card .form-group {
  display: flex;
  align-items: center;
  justify-content: left; }
  .goals .card .form-group label {
    min-width: 9rem;
    margin-bottom: 0px; }

.goals .card .save-btn {
  width: 5em; }

.goals .save-all-btn-container {
  position: relative; }
  .goals .save-all-btn-container .save-all-btn {
    width: 6em;
    position: absolute;
    left: calc(100% - 6em);
    top: -0.4em; }
