.navbar span {
  font-size: 1.5em;
  color: white; }

.navbar a:not(.navbar-brand) {
  color: white;
  transition: background-color 0.2s;
  background-color: #21a3f2;
  padding: 5px;
  border-radius: 10px;
  width: 5em; }
  .navbar a:not(.navbar-brand):hover {
    background-color: #4b1df2; }

.navbar .navbar-brand svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%); }
