html {
  scroll-behavior: smooth; }

.routines .card a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .routines .card a .card-header {
    background-color: rgba(29, 161, 242, 0.25);
    position: relative; }
    .routines .card a .card-header .arrow-down {
      position: absolute;
      height: 48px;
      width: 48px;
      left: calc(98% - 48px);
      top: calc(50% - 48px / 2);
      right: 48px;
      transition-property: fill, transform;
      transition-duration: 0.2s;
      transform: rotate(180deg); }
  .routines .card a.collapsed .arrow-down {
    transform: rotate(0deg); }
  .routines .card a:hover {
    color: white;
    background-color: #1da1f2; }
    .routines .card a:hover .arrow-down {
      fill: white; }

.routines .card .form-group {
  display: flex;
  align-items: center;
  justify-content: left; }
  .routines .card .form-group label {
    min-width: 9rem;
    margin-bottom: 0px; }

.routines .card .save-btn {
  margin-right: 5px; }

.routines .save-all-btn-container {
  position: relative; }
  .routines .save-all-btn-container .save-all-btn {
    width: 6em;
    position: absolute;
    left: calc(100% - 6em);
    top: -0.4em; }

.routines .button-container {
  display: flex;
  align-items: flex-start;
  height: 50px; }
  .routines .button-container .alert {
    margin: 0px;
    width: 100%; }
