.sidebar-sticky {
  position: sticky; }

.sidebar {
  height: calc(100vh);
  background: rgba(168, 165, 165, 0.315);
  top: 0; }
  .sidebar .nav-item:hover {
    color: #1DA1F2;
    cursor: pointer; }
    .sidebar .nav-item:hover svg {
      fill: #1DA1F2; }
    .sidebar .nav-item:hover span {
      color: #1DA1F2; }
  .sidebar .nav-item {
    display: flex;
    justify-content: left;
    align-items: center; }
    .sidebar .nav-item a {
      color: black; }
  .sidebar .nav-item.highlight svg {
    fill: #1DA1F2; }
  .sidebar .nav-item.highlight span {
    color: #1DA1F2; }

.main-content {
  flex-grow: 1; }
  .main-content .title {
    border-bottom: solid rgba(168, 166, 166, 0.555) 2px; }
