.sidebar-sticky {
  position: sticky; }

.sidebar {
  height: calc(100vh - 56px);
  background: rgba(168, 165, 165, 0.315); }
  .sidebar .nav-item:hover {
    color: #1DA1F2;
    cursor: pointer;
    fill: #1DA1F2; }
  .sidebar .nav-item {
    display: flex;
    justify-content: left;
    align-items: center; }

.main-content {
  flex-grow: 1; }
  .main-content .title {
    border-bottom: solid rgba(168, 166, 166, 0.555) 2px; }
