.profile {
  form {
    .form-group {
      display: flex;
      align-items: center;
      justify-content: left;

      label {
        min-width: 11rem;
        margin-bottom: 0px;
      }
    }

    button {
      width: 5rem;
    }
  }
}
