@import "./Master";

.sidebar-sticky {
  position: sticky;
}

.sidebar {
  height: calc(100vh);
  background: rgba(168, 165, 165, 0.315);
  top: 0;
  min-width: 165px;

  .nav-item:not(.disabled):hover {
    color: $primary-color;
    cursor: pointer;

    svg {
      fill: $primary-color;
    }

    span {
      color: $primary-color;
    }
  }

  .nav-item {
    display: flex;
    justify-content: left;
    align-items: center;

    a {
      color: black;
    }
  }

  .nav-item.disabled {
    $opacity: 0.5;
    opacity: $opacity;
    a {
      cursor: not-allowed;
    }
    svg {
      opacity: $opacity;
    }
  }

  .nav-item.highlight {
    svg {
      fill: $primary-color;
    }
    span {
      color: $primary-color;
    }
  }
}

.main-content {
  flex-grow: 1;

  .title {
    border-bottom: solid rgba(168, 166, 166, 0.555) 2px;
  }
}
