@import "./Master";

.sidebar-sticky {
  position: sticky;
}

.sidebar {
  height: calc(100vh - 56px);
  background: rgba(168, 165, 165, 0.315);

  .nav-item:hover {
    color: $primary-color;
    cursor: pointer;
    fill: $primary-color;
  }

  .nav-item {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.main-content {
  flex-grow: 1;

  .title {
    border-bottom: solid rgba(168, 166, 166, 0.555) 2px;
  }
}
